{
    "semi": true,
    "singleQuote": false,
    "tabWidth": 2,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
