@import "xterm/css/xterm.css";

html,
body,
#root,
#terminal-component {
  height: 100%;
  width: 100%;

  padding: 0px;
  margin: 0px;
}

#terminal-component {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  flex-direction: column;
}

#terminal-container {
  flex-grow: 1;
}
